#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 20px;
    background-color: #db50ee;
  }
  
  #blog {
    top: 80px;
    background-color: #8f04a1;
  }
  
  #projects {
    top: 140px;
    background-color: #3d0444;
  }
  body, html{
    height: 100%;
    margin: 0;
    background-color: rgb(227, 168, 245);
  }